@font-face {
    font-family: Comic;
    src: url(../font/comic.ttf);
}


/* Normalize
   ========================================================================== */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
  font-family: Comic;
  color: #353535;
  min-height: 100%;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #0189c8;
}

b,
strong {
  font-weight: bolder;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0 0 10px 0;
}
img{
  max-width: 100%;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

[hidden] {
  display: none;
}
table {
    border-collapse: collapse;
}

/* End
   ========================================================================== */

/* Common
   ========================================================================== */

.display-inline {
  display: inline-block;
}
.display-block{
  display: block;
}
.m-0 {
    margin: 0 !important;
}
.mr-40 {
    margin-right: 40px;
}
.btn {
    border-radius: 4px;
}
.m-auto {
    margin: auto !important;
}
.justify-center {
    justify-content: center;
}
.align-item-center {
    align-items: center;
}
.btn-grey {
    background: #e8e8e8;
    border: 0;
    padding: 5px 20px;
}
.btn-red {
    background: #E03F2C;
    border: 0;
    padding: 10px 20px;
    color: #fff;
}
.btn-red:hover {
    background: #C61026;
}
.btn-blue {
    background: #0189c8;
    border: 0;
    padding: 10px 20px;
    color: #fff;
}
.btn-blue:hover {
    background: #0277ad;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.hr {
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.row {
    display: -ms-flexbox;
    display: flex;
}
.form-group label {
    margin-bottom: 10px;
    display: inline-block;
}
.w-50 {
    width: 50%;
}
.form-control {
    display: block;
    width: calc(100% - 20px);
    padding: 8px 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-text {
    display: block;
    margin-top: .25rem;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
.red {
  color: red;
}

/* End
   ========================================================================== */

/* Header
   ========================================================================== */


.top-bar {
  padding: 15px;
  background-color: #f7f8f9;
}
nav {
    position: relative;
}
.top-profile {
    float: left;
}

.profile-img {
  position: relative;
  margin-right: 15px;
}

.cover-profile-img {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-desc h2{
    margin-bottom: 15px;
    font-weight: 400;
}

.nav {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
.dropdown {
  position: relative;
  margin-right: 20px;
  padding: 5px;
}

.dropdown a {
    padding: 0 12px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 12rem;
    padding: .5rem;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    /*list-style: disc;*/
}

.dropdown-menu a {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.dropdown-menu a:hover {
    background-color: #f7f8f9;
}

.dropdown-menu a:last-child {
    border-bottom: none;
}

.dropdown:hover .dropdown-menu{
  display: block;
  
}

.header-search .form-check{
    margin-bottom: 5px;
}

.header-search .form-group {
    margin-top: 5px;
}

.header-search .form-group input {
    padding: 3px 5px;
}
.nav-item h3 {
  padding: 0 12px;
}

/* End
   ========================================================================== */

/* Footer
   ========================================================================== */

footer {
    padding: 15px;
    background-color: #f7f8f9;
}

.bottom-bar {
    position: relative;
}
.copyright {
  margin-top: 20px;
}

/* End
   ========================================================================== */

/* Responsive
   ========================================================================== */

@media screen and (max-width: 768px) {
  .top-profile, .nav {
    float: none;
  }
  .nav {
    position: initial;
    margin: 20px auto;
    text-align: center;
  }
  .header-search {
    text-align: left;
  }
  .heading-title, .copyright {
    text-align: center;
  }
  .w-50 {
    width: 100%;
  }
  .row {
    display: initial;
  }
}


/* End
   ========================================================================== */